doctype html

block head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, max-scale=1')
  meta(name='user', content=username)
  title Satoshi Disappear Day Trivia - Bitcoin Embassy TLV
  block styles
    link(rel='stylesheet', href='_/style.css')

#content
  block content

block scripts