form
  /*min-height 100vh*/
  position fixed
  height 100%
  width 100%
  display flex
  justify-content center
  flex-direction column
  flex-grow 1

  input, button
    max-width 20em
    margin 0 auto